
html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.title {
  margin: 20px auto 0;
  text-align: center;
}

.links {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.links .link {
  margin-top: 20px;
}

.component {
  height: 100%;
  width: 100%;
  display: flex;
}

.component.home {
  background-color: gray;
  position: relative;
}

.home--inside-scroller {
  position: absolute;
  right: 20px;
  top: 100px;
}

.component.services {
  background-color: red;
}

.component.about {
  background-color: blue;
}



h2 {
  font-family: 'Courier New', Courier, monospace;
  margin: auto auto;
  text-align: center;
}

.pagination-additional-class {
  margin: 0;
  position: fixed;
  top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.pagination-additional-class > li:not(:last-of-type) > a, .pagination-additional-class > li:not(:last-of-type) > span {
  margin-right: 50px;
}
